config.json
everything.json
input.json
paket.json
prylar.json
.breakpoints
/.idea/.gitignore
/.idea/KalkylR-kningar.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/poetry.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
test.py
output.json
log.json
output_backup.json
.idea/inspectionProfiles/Project_Default.xml
frilans.json
newrelic.ini
__pycache__/
__pycache__/*
folk.json
KalkylR-kningar.code-workspace