Flask==2.2.2
gcsa==2.0.1
google_api_python_client==2.74.0
google_auth_oauthlib==0.8.0
googlemaps==4.10.0
holidays==0.18
pandas==1.5.3
protobuf==4.21.12
pyairtable==1.4.0
pytz==2022.7.1
requests==2.28.2
